/* 
============
  SPRITES
============ 
*/

.stage { 
    height: 250px;
    width: 768px;
    padding-top: 120px;
    padding-left: 40px;
    background-image:url('../img/stage.png'); 
}

.goku { 
    width:108px; 
    height:115px;
    margin-left: 35px;
    transform: scaleX(-1);
    background-image:url('../img/goku-sheet.png'); 
}

/* 
============
  HIT BOX
============
 */

.gokuPunch {
    width:148px; 
    height:124px;
}
.gokuKick {
    width:159px; 
    height:155px;
}
.gokuJump {
    width:105px; 
    height:165px;
}


/* 
============
  ANIMATION
============
 */

.idle { 
    animation: idle steps(3) 0.55s infinite; 
}
@keyframes idle {
    from { background-position: 0px -583px; }
    to { background-position: -327px -583px; }
}

.punch { 
    animation: punch steps(6) 0.65s infinite;

}
@keyframes punch {
    from { background-position: 0px -3535px; }
    to { background-position: -920px -3535px; }
}

.kick { 
    animation: kick steps(6) .47s infinite; 
}
@keyframes kick {
    from { background-position: 0px -3220px; }
    to { background-position: -966px -3220px; }
}

.jump { 
    animation: jump steps(8) 1.45s infinite; 
}
@keyframes jump {
    0% {    background-position: 0px -1070px;
    }
    40% {   transform: translateY(10px);
    }
    70% {   transform: translateY(-100px);
    }
    75% {   transform: translateY(-50px);
    }
    100% {  background-position: -855px -1070px;
            transform: translateY(0px);
    }
}



