* {box-sizing: border-box;}
body, html{
    margin: 0;
    height: 100%;
}
.stage{
    background-image:url('http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/E4nU7qja.gif');
    min-height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.smash-icon{
    top: 0;
    width: 98px;
}
.font-size-3em{
    font-size: 3em;
}
.top-position-uc{
    top: 28px!important;
}
.h-255{
    height: 255px;
}
.goku{
    top: 68%;
    right: 67%;
    position: absolute;
}
.ryu{
    top: 68%;
    right: 34%;
    position: absolute;
}
.counter-container{
    position: relative;
}
.counter-img{
    display: block;
    width: 100%;
    height: auto;
}
.counter-text{
    position: absolute;
    bottom: 3px;
    width: 100%;
    transition: .5s ease;    
    color: white;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 610px){
    .top-position-uc{
        top: 88px!important;
    }
    .height-uc {
        height: 41px!important;
    }
}