* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  height: 100%;
}
.stage {
  background-image: url("http://imgs.abduzeedo.com/files/articles/wicked-fighting-game-background-gifs/E4nU7qja.gif");
  min-height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#content {
  position: absolute;
  bottom: 18%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.icon-sizing {
  font-size: 21px !important;
}
.smash-icon {
  top: 0;
  width: 98px;
}
.font-size-3em {
  font-size: 3em;
}
.top-position-uc {
  top: 28px !important;
}
.h-255 {
  height: 255px;
}
.goku {
  /* top: 50.5%; */
  /* right: 67%; */
  position: absolute;
}
#gokuImg,
#ryuImg {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#gokuImg.should-hover:hover,
#ryuImg.should-hover:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.ryu {
  /* top: 43%;
  right: 22%; */
  position: absolute;
}
.counter-container {
  position: relative;
}
.counter-img {
  display: block;
  width: 100%;
  height: auto;
}
.counter-text {
  position: absolute;
  bottom: 3px;
  width: 100%;
  transition: 0.5s ease;
  color: white;
  padding: 20px;
  text-align: center;
}
/* .userLeaderBoard{
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('images/profile.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
} */
@media screen and (max-width: 610px) {
  .top-position-uc {
    top: 88px !important;
  }
  .height-uc {
    height: 41px !important;
  }
}
li {
  font-size: 12px;
  line-height: 2.5;
}
.logo {
  color: #be6c8d;
}

