/* 
============
  SPRITES
============ 
*/

.goku { 
    width:109px; 
    height:121px;
    margin-left: 35px;
    transform: scaleX(-1);
    background-image:url('../images/goku-idle.png'); 
}
.ryu { 
    width: 52px;
    height: 106px;
    margin-left: 555px;
    /* margin-top: 280px; */
    position: absolute;
    transform: scaleX(-1);
    /* transform: scale(1.5); */
    background-image:url('../images/ryu-idle.png'); 
}

/* 
================
  COLLISION BOX
================
 */

.collision-p1 {
    background-color:red;
}

.collision-p2 {
    background-color: blue;
}

.toggleGokuHit {
    background-color: purple;
}

.toggleRyuHit {
    background-color: orange;
}


/* 
============
  HIT BOX
============
 */

 .goku-idle {
    background: url('../images/goku-idle.png') no-repeat;
    width: 109px;
    height: 121px;
 }
 .goku-punch {
     background: url('../images/goku-punch.png') no-repeat;
     width: 162px;
     height: 130px;
 }
.goku-kick {
    background: url('../images/goku-kick.png') no-repeat;
    width: 159px;
    height: 159px;
}
.goku-jump {
    background: url('../images/goku-jump.png') no-repeat;
    width: 146px;
    height: 180px;
}
.goku-walk {
    background: url('../images/goku-walk.png') no-repeat;
    width: 120px;
    height: 132px;
}


.ryu-idle {
    background: url('../images/ryu-idle.png') no-repeat;
}
.ryu-punch {
    background: url('../images/ryu-punch.png') no-repeat;
    width: 90px;
    height: 124px;
}
.ryu-kick {
    background: url('../images/ryu-kick.png') no-repeat;
    width: 70px;
    height: 131px;
}
.ryu-jump {
    background: url('../images/ryu-jump.png') no-repeat;
    width: 57px;
    height: 116px;
}
.ryu-walk {
    background: url('../images/ryu-walk.png') no-repeat;
    width: 49px;
    height: 92px;
}


/* 
============
  ANIMATION
============
 */

 /* GOKU */
.idle-p1 { 
    animation: idle steps(3) 0.55s infinite; 
}
@keyframes idle {
    from { background-position: 0px -0px; }
    to { background-position: -327px -0px; }
}

.punch-p1 { 
    animation: punch steps(6) 0.45s infinite;

}
@keyframes punch {
    from { background-position: 0px -0px; }
    to { background-position: -972px -0px; }
}

.kick-p1 { 
    animation: kick-p1 steps(6) .50s infinite; 
}
@keyframes kick-p1 {
    from { background-position: 0px -0px; }
    to { background-position: -954px -0px; }
}

.jump-p1{ 
    animation: jump steps(8) .85s infinite; 
}
@keyframes jump {
    0% {    background-position: 0px -0px;
            transform: scaleX(-1);
    }
    25% {   transform: translateY(-100px);
            transform: scaleX(-1);
    }
    50% {   transform: translateY(-150px);
            transform: scaleX(-1);
    }
    75% {   transform: translateY(-100px);
            transform: scaleX(-1);
    }
    100% {  background-position: -1168px -0px;
    }
}
.walk-p1 { 
    animation: walk-p1 steps(6) .50s infinite; 
}
@keyframes walk-p1 {
    from { background-position: 0px -0px; }
    to { background-position: -720px -0px; }
}


/* RYU */
.idle-p2 { 
    animation: idle-p2 steps(4) .75s infinite; 
}
@keyframes idle-p2 {
    from { background-position: -0px -0px; }
    to { background-position: -208px -0px; }
}

.punch-p2 { 
    animation: punch-p2 steps(2) 0.25s infinite;

}
@keyframes punch-p2 {
    from { background-position: -0px -0px; }
    to { background-position: -180px -0px; }
}

.kick-p2 { 
    animation: kick-p2 steps(7) 0.75s infinite; 
}
@keyframes kick-p2 {
    0% {    background-position: 0px -0px;
    }
    25% {   transform: translateY(-15px);
    }
    50% {   transform: translateY(-30px);
    }
    75% {   transform: translateY(-15px);
    }
    100% {  background-position: -490px -0px;
            transform: translateY(0px);
    }
}

.jump-p2 { 
    animation: jump-p2 steps(4) 0.8s infinite;
}
@keyframes jump-p2 {
    0% {    background-position: -0px -0px;
    }
    30% {   transform: translateY(-40px);
    }
    50% {   transform: translateY(-80px);
    }
    75% {   transform: translateY(-40px);
    }
    85% {   transform: translateY(-25px);
    }
    100% {  background-position: -228px -0px;
            transform: translateY(0px);
    }
}
.walk-p2 { 
    animation: walk-p2 steps(4) .45s infinite; 
}
@keyframes walk-p2 {
    from { background-position: -0px -0px; }
    to { background-position: -196px -0px; }
}


