/* 
============
  SPRITES
============ 
*/
.goku { 
    /* transform: scaleX(-1); */
}
.ryu { 
    transform: scaleX(-1);
}

/* 
================
  COLLISION BOX
================
 */

.collision-p1 {
    /* background-color:red; */
}

.collision-p2 {
    /* background-color: blue; */
}


/* 
============
  HIT BOX
============
 */

 .goku-idle {
    background: url('../images/goku-idle.png') no-repeat;
    width: 220px;
    height: 242px;
    top: 50.5%;
    right: 67%;
 }
 .goku-punch {
    background: url('../images/goku-punch.png') no-repeat;
    width: 334px;
    height: 260px;
    right: 64%;
    top: 50.5%; 
}
.goku-kick {
    background: url('../images/goku-kick.png') no-repeat;
    width: 366px;
    height: 318px;
    margin-right: -40px;
    top: 40%;
}
.goku-jump {
    background: url('../images/goku-jump.png') no-repeat;
    width: 324px;
    height: 360px;
    bottom: 20%;
}
.goku-walk {
    background: url('../images/goku-walk.png') no-repeat;
    width: 238px;
    height: 264px;
}
.goku-damaged {
    background: url('../images/goku-damaged.png') no-repeat;
    width: 159px;
    height: 273px;
    top: 62%;
}

.ryu-idle {
    background: url('../images/ryu-idle.png') no-repeat;
    width: 153px;
    height: 297px;
    top: 43%;
    right: 22%;
}
.ryu-punch {
    background: url('../images/ryu-punch.png') no-repeat;
    width: 228px;
    height: 306px;
    /* right: 42%; */
    /* left: 62%; */
    top: 44%;
}
.ryu-kick {
    background: url('../images/ryu-kick.png') no-repeat;
    width: 228px;
    height: 360px;
    top: 30%;

}
.ryu-jump {
    background: url('../images/ryu-jump.png') no-repeat;
    width: 165px;
    height: 342px;
    top: 27%;

}
.ryu-walk {
    background: url('../images/ryu-walk.png') no-repeat;
    width: 168px;
    height: 273px;
    top: 47%;
}
.ryu-damaged {
    background: url('../images/ryu-damaged.png') no-repeat;
    width: 56px;
    height: 85px;
    left: 62%;
    top: 69%;
}


/* 
============
  ANIMATION
============
 */

 /* GOKU */
.idle-p1 { 
    animation: idle steps(3) 0.55s infinite; 
}
@keyframes idle {
    from { background-position: 0px -0px; }
    to { background-position: -660px -0px; }
}
.punch-p1 { 
    animation: punch steps(6) 0.45s infinite;
}
@keyframes punch {
    from { background-position: 0px -10px; }
    to { background-position: -2004px -10px; }
}
.kick-p1 { 
    animation: kick-p1 steps(6) .50s infinite; 
}
@keyframes kick-p1 {
    from { background-position: 0px -0px; }
    to { background-position: -2196px -0px; }
}
.jump-p1{ 
    animation: jump steps(8) .55s infinite; 
}
@keyframes jump {
    0% {    background-position: 0px -0px;
    }
    100% {  background-position: -2592px -0px;
    }
}
.walk-p1 { 
    animation: walk-p1 steps(6) .50s infinite; 
}
@keyframes walk-p1 {
    from { background-position: 0px -5px; }
    to { background-position: -1428px -5px; }
}
.damaged-p1 { 
    animation: damaged-p1 steps(2) .25s infinite; 
}
@keyframes damaged-p1 {
    from { background-position: 0px -0px; }
    to { background-position: -206px -0px; }
}


/* RYU */
.idle-p2 { 
    animation: idle-p2 steps(4) .75s infinite; 
}
@keyframes idle-p2 {
    from { background-position: -0px -0px; }
    to { background-position: -612px -0px; }
}
.punch-p2 { 
    animation: punch-p2 steps(2) 0.25s infinite;

}
@keyframes punch-p2 {
    from { background-position: -0px -10px; }
    to { background-position: -456px -10px; }
}
.kick-p2 { 
    animation: kick-p2 steps(7) 0.55s infinite; 
}
@keyframes kick-p2 {
    0% {    background-position: 0px -12px;
    }
    100% {  background-position: -1596px -12px;
    }
}
.jump-p2 { 
    animation: jump-p2 steps(4) 0.4s infinite;
}
@keyframes jump-p2 {
    0% {    background-position: -0px -5px;
    }
    100% {  background-position: -660px -5px;
    }
}
.walk-p2 { 
    animation: walk-p2 steps(4) .45s infinite; 
}
@keyframes walk-p2 {
    from { background-position: -0px -0px; }
    to { background-position: -642px -0px; }
}
.damaged-p2 { 
    animation: damaged-p2 steps(2) .25s infinite; 
}
@keyframes damaged-p2 {
    from { background-position: -0px -0px; }
    to { background-position: -318px -0px; }
}

